main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0 0 0;
}

.container {
  width: 85%;
  max-width: 1250px;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  color: #686868;
  text-align: center;
  line-height: 1.6rem;
}

#file {
  display: none;
}

#drop-zone {
  width: 70%;
  height: 5rem;
  border: 1px solid #A1A1A1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 1.5rem auto;
  border-radius: 15px;
  color: #686868;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}

#drop-zone.hover {
  border: 1px solid #ABABAB;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 3px #C4C4C4;
  outline: 0 none;
  background-color: #f8f8f8;
}

.file-name {
  font-weight: 600;
  color: #6358DC;
}

.container-canvas {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#chart {
  width: 400px;
  height: 400px;
}

@media (max-width: 550px) {
  #drop-zone {
    display: none;
  }

  h1 {
    font-size: 1.1rem;
  }

  #file {
    display: inline;
    margin: 2rem 0 2rem 0;
    width: 100%;
  }
}
