
<main class="container">
  <figure class>
    <img src="../../../assets/images/person-img.png">
  </figure>

  <section class="container-form">
    <h4>Welcome</h4>
    <form>
     <div class="item-form">
       <label>Email</label>
       <input type="email" placeholder="name@example.com">
     </div>

     <div class="item-form">
       <label>Password</label>
       <input type="password">
     </div>

     <div class="item-form">
       <button type="submit" class="btnLogin">Log in</button>
     </div>
    </form>
  </section>

</main>

