<nav class="navbar bg-body-tertiary">
  <button class="btnMenu" (click)="show()">☰</button>

  <div class="logo">
    <h1>Smartsoft</h1>
  </div>

  <ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a>Developers</a></li>
    <li><a [routerLink]="['/about']">About us</a></li>
    <li><a>Contact</a></li>
  </ul>

  <div class="nav-logout-btn">
    <button (click)="logout()">Log out</button>
  </div>
</nav>

<section class="menu" id="menu" (click)="hide()">
  <div class="close-menu" (click)="hide()">
    <p>X</p>
  </div>
  <a [routerLink]="['/home']">Home</a>
  <a>Developers</a>
  <a [routerLink]="['/about']">About us</a>
  <a [routerLink]="['/contact']">Contact</a>
</section>
